
.mainContainer{
  display: flex;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.container {
  display: flex;
  
 
}


.divleft {
 
  width:  30%;
  background-color: #212026;
}


.divright {
 
  width: 70%;
  background-color: rgb(255, 255, 255);
}

.divright1{
width: 100%;
height: 135px;
margin: 0px;
padding: 0px;
background-color: rgb(255, 255, 255);
}


.divright2{
  width: 100%;
  height: 225px;
  margin: 0px;
  padding: 0px;
  background-color: #fecb00;
  }

 

  .shadi{
    text-align: left;
    font-size: 85px;
    margin: 0%;
    padding-left: 75px;
    padding-top: 50px;
    letter-spacing:25px;
  }

  .jumaa{
    font-size: 85px;
    text-align: left;
    margin: 0%;
    letter-spacing:25px;
    padding-left: 44px;
    padding-top: 50px;

  }

  .front{
    font-size: 30px;
    text-align: left;
    margin: 0%;
    padding-bottom: 3px;
    padding-left: 75px;
    letter-spacing:10px;

  }


  .about{
    padding-left: 75px;
    font-size: 32PX;
  }


  .line {
    border-top: 2px solid black;
    margin-left: 75px;

}


.lineleft {
  border-top: 2px solid #fecb00;
  margin-left: 75px;

}
.education{
  padding-left: 75px;
  font-size: 32PX;
  color: white;

}

.textleft{
  padding-left: 75px;
  font-size: 25PX;
  color: white;

}


.textright{
  font-family:Georgia, 'Times New Roman', Times, serif;

  padding-left: 75px;
  font-size: 25PX;
  color: rgb(0, 0, 0);

}


.box{
  background-color:   #fecb00;
  width: 20%;
  height: 30px;
  font-size: 8px;
  color: white;
  
}

.box2{
  background-color:  #292a2f;
  width: 75%;
  height: 30px;
  font-size: 18px;
  color: white;
  padding-left: 11%;
}





.boxright{
  background-color:   #2d2d2d;
  width:88%;
  height: 4px;

}

.box2right{
  background-color:  #cccccc;
  width: 22%;
  height: 4px;
  padding-left: 6%;

}

.horizantalLaybal{
   width: 50%;
}

.marginLaybals{
  margin-right: 20%;
  margin-left: 20%;
  font-size: 22PX;

}


.p-layble{
  margin-top: 0%;
  font-size: 18px;
  padding-left: 33px;
  color: white;
  padding-left: 30%;

}