
.all{
    margin: 10px;

}

.title{
    font-size: 60px;
}

.header {
    padding: 60px;
    text-align: center;
    background: #08d7f8;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer{
    padding: 10px;
    background: #08d7f8;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;




}